#admin-wrapper
    .sidebar
        .logo
            padding: 10px 30px

            a
                text-align: left

                &:hover
                    text-decoration: none

                img
                    width: 18px

                span
                    font-family: 'Muli'
                    font-weight: 900
                    font-size: 24px
                    margin-left: 20px
                    vertical-align: middle
    .navbar
        border-radius: 0px
        background: #fff

    .card
        font-family: 'Roboto', sans-serif

        .card-title
            font-weight: 600
            font-size: 22px
            color: #727272
            text-transform: uppercase
            line-height: 30px
            margin-bottom: 20px
            letter-spacing: 2px

        .sub-title
            font-weight: 600
            font-size: 16px

        .footer
            padding: 5px 15px

            a
                text-transform: uppercase

            .delete
                background: transparent
                border: none

                &:hover
                    color: red

    .page-direction
        padding-left: 15px
        list-style: none
        font-size: 18px
        margin: 16px auto

        i
            font-size: 26px

        li
            display: inline-block


    .error
        color: red
        margin: 10px auto 20px


    ul
        padding: 0
        list-style: none

        li
            margin-bottom: 7px

            &:last-child
                margin-bottom: 0

            span
                color: #9a9a9a
                font-weight: 900
                text-transform: uppercase
                min-width: 120px
                text-align: left
                display: inline-block

            del
                color: red

    .fa-check-circle
        color: #27cc27 !important

    .fa-times-circle
        color: red

    .summary-row
        .summary-header
            margin-bottom: 10px
            padding-bottom: 10px

            .header-title
                font-weight: 900
                font-family: 'Muli'
                letter-spacing: 2px
                font-size: 18px

            a
                &:hover
                    text-decoration: none

            .date
                color: #D3D3D3
                font-weight: 900

        .item-summary
            margin-bottom: 30px
